:root {
  --bg-main: hsl(204, 40%, 57%);
  --bg-sc: white;
  --txt-sc: white;
  --txt-pm: hsl(204, 40%, 57%);
  --clr-dark: #1c1a63;
  /* #47d381; */
  /* hsl(187, 63%, 71%); */
}

body {
  margin: 0;
  font-family: "Kanit", sans-serif;
  height: 100%;
}

.header {
  font-family: "Kanit", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 4rem;
  padding: 1rem;
  /* margin-left: 1rem; */
  text-align: center;
}

.sub-header {
  /* font-weight: bold; */
  color: var(--txt-sc);
  font-size: 0.8rem;
  text-align: center;
  font-style: italic;
}

.sidebar {
  padding: 0;
  width: 350px;
  background-color: var(--bg-main);
  /* position: fixed; */
  height: 100%;
  float: left;
  margin-bottom: -5000px; /* any large number will do */
  padding-bottom: 5000px;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebar a {
  display: block;
  color: var(--txt-sc);
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #1c1a63;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: var(--bg-sc);
  color: var(--clr-dark);
}

div.content {
  margin-left: 360px;
  width: auto;
  padding: 1px 16px;
  font-family: "Kanit", sans-serif;
  color: #515151;
  font-size: 18px;

  height: 1000px;
}

.article-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icons-container {
  display: flex;
  justify-content: center;
  margin: 0;
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#read-more-btn {
  float: left;
  background-color: var(--bg-main);
  border-color: cornflowerblue;
  padding: 0.3rem;
  font-size: 12px;
}

.blog-title {
  color: var(--bg-main);
  text-decoration-color: none;
}

.blog-title:hover {
  color: var(--clr-dark);
}

@media screen and (max-width: 1000px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 1rem;
    padding-bottom: 0;
  }

  .nav-btn {
    border: 0.3px solid white;
    border-radius: 8px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
  }

  .sidebar a {
    float: left;
  }

  .nav-links {
    flex-direction: row;
  }

  div.content {
    margin: 0;
    height: 100%;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
