<ul id="nav" class="sidebar">
  <h1 class="header">Arjun Kashyap</h1>
  <h4 class="sub-header">
    Software Engineer <br />
    ML Enthusiast <br />
    Reader / Thinkers
  </h4>
  <hr />
  <li class="nav-item active">
    <a class="nav-link" href="/">Blog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about">About Me</a>
  </li>
  <li>
    <a class="nav-link" href="/projects">Projects</a>
  </li>
</ul>
