<div class="form-group">
  <label for="markdown">Markdown</label>
  <textarea
    required
    style="height: 300px"
    type="text"
    name="markdown"
    id="markdown"
    class="form-control"
  >
  <%=about.markdown%>
  </textarea>
</div>

<button type="submit" class="btn btn-primary btn-lg btn-block">SAVE</button>
<br />
