<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="styles/index.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Arjun Kashyap</title>
  </head>
  <body>
    <div style="overflow: hidden">
      <div class="sidebar">
        <h1 class="header">Arjun Kashyap</h1>
        <h4 class="sub-header">
          Software Engineer <br />
          ML Enthusiast <br />
          Reader / Thinkers
        </h4>
        <hr />
        <div class="nav-links">
          <a class="nav-btn" href="/">Blog</a>
          <a class="nav-btn active" href="/about">About Me</a>
          <a class="nav-btn" href="/projects">Projects</a>
        </div>

        <br />
        <div class="icons-container">
          <a
            href="mailto:arj.kashyap123@gmail.com"
            class="btn-social btn-outline"
            title="E-Mail me"
          >
            <i class="fa fa-at fa-2x"></i>
          </a>
          <a href="https://www.github.com/bing101" target="_blank">
            <i class="fa fa-github fa-2x"></i>
          </a>
          <a href="https://twitter.com/arjun_pahadii" target="_blank">
            <i class="fa fa-twitter fa-2x"></i>
          </a>
          <a
            href="https://www.linkedin.com/in/arjun-kashyap-099384116/"
            target="_blank"
          >
            <i class="fa fa-linkedin fa-2x"></i>
          </a>
        </div>
      </div>

      <div class="content container">
        <br />
        <h1
          style="
            color: hsl(204, 40%, 57%);
            font-weight: bold;
            font-family: 'Kanit', sans-serif;
          "
        >
          About ME
        </h1>
        <div
          class="about-me"
          style="
            font-family: 'Kanit', sans-serif;
            color: #515151;
            font-size: 18px;
          "
        >
          <p>
            I am fascinated by machines and technology. I am pursuing computer
            science engineering from M. M. E. C Mullana and expect to complete
            it by 2021. I taught myself Python as my first programming language
            back when I was in my senior year in school . This incited my true
            passion for programming.
          </p>
          <p>
            In college I fell in love with software development, so I spent the
            fall of 2017, honing my coding skills by working on: improving my
            C/C++ fluency, writting reusable code, understanding computer
            architecture and databases. I developed a keen intrest in Internet
            of Things and made some small projects to understand
            microcontrollers and sensors.
          </p>
          <p>
            In the process, I came across web developed which became my major
            interest. I've worked on a quite a decent number of web dev projects
            and I prefer MERN Stack. I have also worked on Django and PHP. Aside
            from web development, I am fascinated by computer vision and
            dedicate regular time for developing Deep learning models using
            Tensorflow.
          </p>
          <p>
            When I’m not at a computer, I enjoy reading literature, learning
            foreign languages, listening to live music, and going on a Trek to
            the mountains. You can usually find me in the sunniest spot in the
            room (or the spot closest to the food).
          </p>
          <br />
        </div>
      </div>
    </div>

    <!-- Bootstrap css -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
